<li class="list-group-item btn" style="padding-bottom: 0; margin-bottom: 3px;">
	<strong>
		<span data-bind="text: team().name()"></span>
		(<span data-bind="text: team().owner()"></span>)
	</strong>
	<!--<ul class="list-group small list-inline">
		<li class="list-group-item" style="padding-bottom: 3px; padding-top: 3px;">
			<strong>Left: <span data-bind="text: totalLeft"></span></strong>
		</li>
		<li class="list-group-item" style="padding-bottom: 3px; padding-top: 3px;" data-bind="css: { 'list-group-item-danger': maxBid() == 1, 'list-group-item-warning': maxBid() <= 10 }">
			<strong>Max: <span data-bind="text: maxBid"></span></strong>
		</li>
		<li class="list-group-item" style="padding-bottom: 3px; padding-top: 3px;">
			<strong>Players: <span data-bind="text: players().length"></span></strong>
		</li>
	</ul>
	<div>
		<ul data-bind="foreach: rosterPositions" class="list-group list-inline">
			<li class="list-group-item" data-bind="css: { 'list-group-item-info' : number() < minNumber(), 'list-group-item-success' : number() >= minNumber() }" style="padding-bottom: 3px; padding-top: 3px; margin: 0;">
				<span style="font-size: x-small; font-weight: bold;">
					<span data-bind="text: position"></span>:
					<span data-bind="text: number"></span>
				</span>
			</li>
		</ul>
	</div>-->
</li>